.tr_messbox{
    background-color: white;
    border-radius: 8px;
    flex-grow: 1;

    .header{
        height: 42px;
        line-height: 42px;
        padding-left: 10px;
        align-items: center;
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    }

    .footer{
        padding: 10px;
        height: 36px;
        align-items: center;
    }
}

.content{
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 98px);
    padding: 0 10px;
}

.footer .input-search{
    flex-grow: 1;
    margin-right: 16px;
}
